*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 list-style: none;
}
 
header{
  padding-left: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header__left{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header__item{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 3rem;
  }
  .header__right{
    display: grid;
   padding-left: 500px;
  }

  .main__item{
    display: grid;
    grid-template-columns: 1fr main 1fr;
    border: 1px solid black;
  }
  main{
    display: grid;
    grid-auto-columns: 1fr main 1fr;
  }
 