*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 list-style: none;
}
 
header{
  padding-left: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(209, 204, 198);
}
.header__left{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header__item{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 3rem;
  }
  .header__right{
    display: grid;
   padding-left: 500px;
  }

  .main__item{
    display: grid;
    grid-template-rows: auto auto auto;
    border: 1px solid rgb(214, 212, 212);
    gap:1rem;
   margin-top: 60px;
  }
  main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;

  }
  .price{
    display: inline;
  }
  .span.price{
color:rgb(170, 163, 163);
text-decoration: line-through;

  }
  .discount{
    color:red;
  }
 